    <div class="col-xs-12 col-sm-12 col-md-12 dashboard-component-statistics">
      <div class="pmd-card pmd-z-depth statistics-content">
        <div class="pmd-card-title">
          <div class="row">
            <div class="col-md-9 form-group pmd-textfield">
              <div class="media-left set-svg dashboard">
                <%= render 'web/dashboards/icons/chart_icon' %>
              </div>
              <div class="media-body media-middle">
                <h2 class="pmd-card-title-text typo-fill-secondary">Peso Diário</h2>
              </div>
            </div>
          </div>
        </div><!-- /pmd-card-title -->
        <div class="graphic_by_source">
          <div class="pmd-card-body statistics text-center">
            <h3><%# group %></h3>
            <div id="graphic_statuses_by_source">
              <%=  line_chart @data, @options %>
            </div>
          </div>
        </div>
        <span class="btn-loader loader hidden">Carregando...</span>
      </div><!-- /pmd-card -->
    </div><!-- /col-md-12 -->