  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <%= render 'layouts/common/header', title: 'Dashboard', subtitle: 'Estatística' %>
      </div>
    </div>
    <div id="dashboard_charts">
      <div class="alert alert-info" role="alert"> Aqui um gráfico sobre sua dieta mais recente. (Apenas os últimos 30 dias de peso registrados)</div>
      <div class="row">
        <%= render 'charts' %>
      </div>
    </div>
  </div>