<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= render 'layouts/common/header', title: FoodOption.model_name.human(count: 2), subtitle: t('core.actions.add') %>
      <%= render 'form' %>
    </div>
  </div>
</div>
