<li>
  <a class="pmd-ripple-effect" href="index.html">
    <i class="media-left media-middle material-icons pmd-sm">dashboard</i>
    <span class="media-body">Dashboard</span>
  </a>
</li>
<li>

  <%= link_to diets_path, class: 'pmd-ripple-effect', target: "" do %>
    <i class="media-left media-middle material-icons pmd-sm">dashboard</i>
    <span class="media-body"><%= Diet.model_name.human(count: 2) %></span>
  <% end %>
</li>
<li class="dropdown pmd-dropdown">
  <a aria-expanded="false" data-toggle="dropdown" class="btn-user dropdown-toggle media" data-sidebar="true" href="javascript:void(0);">
    <i class="media-left media-middle material-icons pmd-sm">settings</i>
    <span class="media-body">Configurações</span>
    <div class="media-right media-bottom"><i class="dic-more-vert dic"></i></div>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to settings_food_options_path, class: 'pmd-ripple-effect' do %>
        <%= FoodOption.model_name.human(count: 2) %>
      <% end %>
    </li>
  </ul>
</li>
