<% if resource.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h4>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Problema(s) encontrado(s):
    </h4>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
